/*
Theme Name: Dev Theme
Author: Piers Rueb
Author URI: http://piersrueb.com/
*/

/*  fonts  */

@font-face {
	font-family: 'LearningCurveDashed';
	src: url('../font/LearningCurveDashed.eot?#iefix') format('embedded-opentype'),
	url('../font/LearningCurveDashed.woff') format('woff'),
	url('../font/LearningCurveDashed.ttf')  format('truetype'),
	url('../font/LearningCurveDashed.svg#LearningCurveDashed') format('svg');
	font-weight: normal;
	font-style: normal;
	}

/* -------------------------------------- Structure -------------------------------------- */

body.keepittogether{
	font-family: 'Droid Sans Mono', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #666;
	background: #D63739;
	line-height: 1.8em;
	padding: 0;
	margin: 0;
	-webkit-text-size-adjust: none;
	}

p{
	margin-top: 0;
	padding-top: 0;
	}

/* -------------------------------------- Links -------------------------------------- */

a:link {
	text-decoration: none;
	color: #949494;
	}

a:active {
	text-decoration: none;
	color: #949494;
	}

a:visited {
	text-decoration: none;
	color: #949494;
	}

a:hover {
	text-decoration: none;
	color: #f2f2f2;
    -webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}

a img {
	border: none;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	}

::selection			{
	background:#83B2DB;
	color:#fff; /* Safari and Opera */
	}

::-moz-selection  {
	background:#83B2DB;
	color:#fff; /* Firefox */
	}

.clearfix{
	clear: both;
	}

.ie10 #slides-1, .ie10 #slides-2, .ie10 #slides-3{
	width: 600px !important;
	height: 612px !important;
	}

/* -------------------------------------- structure  -------------------------------------- */

article.content, header, footer{
	width: 1024px;
	margin: 0 auto;
	position: relative;
	}

section#output{
	background: #ffffff url(../img/output.svg) no-repeat bottom right;
	background-size: 100px 40px;
	padding: 15px;
	width: 994px;
	height: 400px;
	margin: 24px 0 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
	}

article textarea{
   	font-size: inherit;
   	color:  inherit;
	height: 400px;
	padding: 15px;
	border: 0;
	outline: 0;
	display: block;
	float: left;
	resize: none;
	-webkit-appearance: none;
	}

article.content textarea#html{
	font-family: 'Droid Sans Mono', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #666;
	margin: 0;
	background: #f7f7f7 url(../img/html.svg) no-repeat bottom right;
	background-size: 100px 40px;
	border-top: 1px solid #e8e8e8;
	width: 481px;
	/* border radius */
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 5px;
	}

article.content textarea#css{
	font-family: 'Droid Sans Mono', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #666;
	margin: 0 0 0 0;
	background: #f7f7f7 url(../img/css.svg) no-repeat bottom right;
	background-size: 100px 40px;
	border-top: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	width: 482px;
	/* border radius */
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 0px;
	}

h1.codedit {
	font-family: 'LearningCurveDashed', 'Droid Sans Mono', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 100px;
	line-height: 1em;
	color: #f2f2f2;
	text-align: center;
	margin: 40px 0 0 0;
	padding: 0;
	}

h2.codedit {
	font-family: 'LearningCurveDashed', 'Droid Sans Mono', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 50px;
	line-height: 1em;
	color: #f2f2f2;
	text-align: center;
	margin: 5px 0 0 0;
	padding: 0;
	}

p.tagline{
	font-family: 'Droid Sans Mono', Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-align: center;
	font-size: 13px;
	padding: 0;
	margin: 0 0 40px 0;
	}

p.closing{
	font-family: 'Droid Sans Mono', Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-align: center;
	font-size: 11px;
	padding: 40px 0 0 0;
	margin: 0 0 10px 0;
	}

p.closing a, p.closing a:visited{
	color: #ffffff;
	}

p.closing a:hover{
	text-decoration: underline;
	}

a#scroll-button{
	display: block;
	width: 36px;
	height: 18px;
	position: absolute;
	z-index: 100;
	top: 18px;
	right: 20px;
	border: 1px solid #dbdbdb;
	background: #ffffff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}

#toggle{
	width: 18px;
	height: 18px;
	background: #dbdbdb;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}

.scroll-on{ left: 18px !important; }
.scrollable{ overflow-y: scroll !important; }

#scroll-info{
	background: url(../img/scrollbar.svg) no-repeat 0 0;
	width: 160px;
	height: 40px;
	position: absolute;
	top: 9px;
	right: 70px;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 0;
	}

.fadein{ opacity: 1 !important; }
footer{ clear: both; height: 150px; }

/*  scrollbar test  */

#test-wrapper{
	width: 50px;
	height: 1px;
	overflow-y: scroll;
	opacity: 0;
	}

#test-inner{
	width: 100%;
	}

/*------------------------------ Smartphones (portrait and landscape) ------------------------------*/

/*  small desktop  */

@media all and (max-width: 1024px) {

	article.content, header, footer{ width: 960px; }
	section#output{ width: 930px; }
	article.content textarea#html{ width: 449px; }
	article.content textarea#css{ width: 450px; }

}

@media all and (max-width: 960px) {

	article.content, header, footer{ width: 768px; }
	section#output{ width: 738px; }
	article.content textarea#html{ width: 353px; }
	article.content textarea#css{ width: 354px; }

}

/*  ipad portrait  */

@media all and (max-width: 768px) {

	article.content, header, footer{ width: 728px; }
	section#output{ width: 698px; }

	article.content textarea#html{
		width: 333px;
		-webkit-border-top-left-radius: 0px;
		-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomright: 0px;
		-moz-border-radius-bottomleft: 5px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 5px;
		}

	article.content textarea#css{
		width: 334px;
		-webkit-border-top-left-radius: 0px;
		-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 0px;
		}

}

/*  small tablet  */

@media all and (max-width: 728px) {

	article.content, header, footer{ width: 414px; }
	section#output{ width: 384px; }

	article.content textarea#html{
		width: 384px;
		border-radius: none;
		float: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		}

	article.content textarea#css{
		width: 384px;
		-webkit-border-radius: 5px;
		-webkit-border-top-left-radius: 0px;
		-webkit-border-top-right-radius: 0px;
		-moz-border-radius: 5px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 0px;
		border-radius: 5px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-left: none;
		}

}

/*  ipone 6+  */

@media all and (max-width: 414px) {

	article.content, header, footer{ width: 414px; }

	section#output{
		width: 385px;
		-webkit-border-top-left-radius: 0px;
		-webkit-border-top-right-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		}

	article.content textarea#html{
		width: 385px;
		border-radius: 0;
		}

	article.content textarea#css{
		width: 385px;
		border-radius: 0;
		}

}

/*  ipone 6  */

@media all and (max-width: 375px) {

	article.content, header, footer{ width: 375px; }
	section#output{ width: 345px; }
	article.content textarea#html{ width: 345px; }
	article.content textarea#css{ width: 345px; }

}

/*  ipone 5  */

@media all and (max-width: 320px) {

	article.content, header, footer{ width: 320px; }
	section#output{ width: 290px; }
	article.content textarea#html{ width: 290px; }
	article.content textarea#css{ width: 290px; }

}
